<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Show Page</h2>
  <p>The .table-bordered class adds borders to a table:</p>            
  <table class="table table-bordered">
    <thead>
      <tr>
          <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
       {% if key1 %}
       {% for a in key1 %}
      <tr>
        <td><strong>{{a.id}}</strong></td>
        <td><strong>{{a.firstname}}</strong></td>
        <td>{{a.lastname}}</td>
        <td>{{a.email}}</td>
        <td>
          <form action="{% url 'editpage' pk=a.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{a.id}}">
            <input type="submit" value="Edit">
          </form>
        </td>
        <td>
          <form action="{% url 'delete' pk=a.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{a.id}}">
            <input type="submit" value="Delete">
          </form>
        </td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>

</body>
</html>